In [122]:
import numpy as np
import pandas as pd

In [123]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [124]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [125]:
movies.shape

(4803, 20)

In [126]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [127]:
credits.shape

(4803, 4)

In [128]:
movies = movies.merge(credits,on='title')

In [129]:
movies.shape

(4809, 23)

In [130]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [131]:
# title
# movie_id
# overview
# keywords
# genres
# cast
# crew
# we use these columns to build our recommender system

In [132]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [133]:
movies.shape

(4809, 7)

In [134]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [135]:
movies.dropna(inplace=True)

In [136]:
movies.shape

(4806, 7)

In [137]:
import ast

In [138]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name']) 
    return L

In [139]:
movies['genres'] = movies['genres'].apply(convert)

In [140]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [141]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [142]:
### For cast we will take top 3 actors in the movie, by adding a counter in convert funtion
### We can use movies['cast'] = movies['cast'].apply(lambda x:x[0:3]})
def convert2(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [144]:
movies['cast'] = movies['cast'].apply(convert2)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [145]:
movies['crew']

0       [{"credit_id": "52fe48009251416c750aca23", "de...
1       [{"credit_id": "52fe4232c3a36847f800b579", "de...
2       [{"credit_id": "54805967c3a36829b5002c41", "de...
3       [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4       [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
                              ...
4804    [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4805    [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4806    [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4807    [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4808    [{"credit_id": "58ce021b9251415a390165d9", "de...
Name: crew, Length: 4806, dtype: object

In [146]:
### we just keep director name in the crew column
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [148]:
movies['crew'] = movies['crew'].apply(fetch_director)
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [149]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [150]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [152]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [153]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [154]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [155]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [156]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [157]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."

In [158]:
new_data = movies.drop(columns=['overview','genres','keywords','cast','crew'])
#new.head()

In [159]:
new_data['tags'] = new_data['tags'].apply(lambda x: " ".join(x))
new_data.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [160]:
new_data['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [161]:
new_data['tags'] = new_data['tags'].apply(lambda x:x.lower())

In [162]:
new_data.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [59]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.5.1-cp311-cp311-win_amd64.whl.metadata (12 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\indu\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (2.0.1)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.14.0-cp311-cp311-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
     --------------------------------- ------ 51.2/60.8 kB 1.3 MB/s eta 0:00:01
     ---------------------------------------- 60.8/60.8 kB 1.1 MB/s eta 0:00:00
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.1-cp311-cp311-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
    --------------------------------------- 0.2/11.0 MB 4.8 MB/s eta 0:00:03
   -- ------------------------------------- 0.6/11.0 MB 5.5 MB/s eta 0:00:02
   ---- ----------------------------------- 1.4/11.0 MB 7.8 MB/s eta 0:00:02
   ------ --------------------------------- 1.7/11.0 MB 8.2 MB/s eta 0:00:02
   ------ --------------------------------- 1.8/11.0 MB 6.6 MB/s eta 0:00:02
   -------- ------------------------------- 2.4/11.0 MB 7.3 MB/s eta 0:00:02
   ---------- ----------------------------- 2.9/11.0 MB 7.6 MB/s eta 0:00:02
   ------------ --------------------------- 3.3/11.0 MB 7.9 MB/s eta 0:00:01
   -------------- ------------------------- 4.1/11.0 MB 8.4 MB/s eta 0:00:01
   --------------- ------------------------ 4.4/11.0 MB 8.7 MB/s eta 0:00:01
   ---------------- ----------------------- 4.6/11.0 MB 7.9 MB/s eta 0:00:01
   ------------------ --------------------- 5.1/11.0 MB 8.0 MB/s eta 0:00:01
   --------------------- ------------------ 5.9/11.0 MB 8.4 MB/s eta 0:00:01
   ----------------------- ---------------- 6.4/11.0 MB 8.5 MB/s eta 0:00:01
   ------------------------ --------------- 6.8/11.0 MB 8.7 MB/s eta 0:00:01
   -------------------------- ------------- 7.3/11.0 MB 8.8 MB/s eta 0:00:01
   --------------------------- ------------ 7.6/11.0 MB 8.6 MB/s eta 0:00:01
   ---------------------------- ----------- 7.9/11.0 MB 8.4 MB/s eta 0:00:01
   ------------------------------ --------- 8.5/11.0 MB 8.6 MB/s eta 0:00:01
   -------------------------------- ------- 9.0/11.0 MB 8.8 MB/s eta 0:00:01
   ---------------------------------- ----- 9.6/11.0 MB 8.9 MB/s eta 0:00:01
   ------------------------------------ --- 10.1/11.0 MB 9.0 MB/s eta 0:00:01
   -------------------------------------- - 10.7/11.0 MB 9.5 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 9.6 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 9.6 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 8.8 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ---------------------------------------- 0.0/301.8 kB ? eta -:--:--
   ---------------------------------------  297.0/301.8 kB 9.2 MB/s eta 0:00:01
   ---------------------------------------- 301.8/301.8 kB 6.2 MB/s eta 0:00:00
Downloading scipy-1.14.0-cp311-cp311-win_amd64.whl (44.7 MB)
   ---------------------------------------- 0.0/44.7 MB ? eta -:--:--
   ---------------------------------------- 0.4/44.7 MB 13.9 MB/s eta 0:00:04
    --------------------------------------- 1.0/44.7 MB 10.3 MB/s eta 0:00:05
   - -------------------------------------- 1.4/44.7 MB 9.7 MB/s eta 0:00:05
   - -------------------------------------- 1.9/44.7 MB 10.0 MB/s eta 0:00:05
   -- ------------------------------------- 2.5/44.7 MB 10.7 MB/s eta 0:00:04
   -- ------------------------------------- 3.0/44.7 MB 10.7 MB/s eta 0:00:04
   --- ------------------------------------ 3.6/44.7 MB 10.8 MB/s eta 0:00:04
   --- ------------------------------------ 3.9/44.7 MB 10.9 MB/s eta 0:00:04
   ---- ----------------------------------- 4.5/44.7 MB 10.6 MB/s eta 0:00:04
   ---- ----------------------------------- 5.0/44.7 MB 10.7 MB/s eta 0:00:04
   ----- ---------------------------------- 5.7/44.7 MB 11.0 MB/s eta 0:00:04
   ----- ---------------------------------- 6.2/44.7 MB 10.9 MB/s eta 0:00:04
   ------ --------------------------------- 6.8/44.7 MB 11.4 MB/s eta 0:00:04
   ------ --------------------------------- 7.3/44.7 MB 11.4 MB/s eta 0:00:04
   ------ --------------------------------- 7.8/44.7 MB 11.3 MB/s eta 0:00:04
   ------- -------------------------------- 8.4/44.7 MB 11.4 MB/s eta 0:00:04
   ------- -------------------------------- 8.9/44.7 MB 11.4 MB/s eta 0:00:04
   -------- ------------------------------- 9.4/44.7 MB 11.3 MB/s eta 0:00:04
   -------- ------------------------------- 9.9/44.7 MB 11.3 MB/s eta 0:00:04
   --------- ------------------------------ 10.5/44.7 MB 11.5 MB/s eta 0:00:03
   --------- ------------------------------ 10.8/44.7 MB 11.3 MB/s eta 0:00:04
   ---------- ----------------------------- 11.4/44.7 MB 11.3 MB/s eta 0:00:03
   ---------- ----------------------------- 11.8/44.7 MB 11.3 MB/s eta 0:00:03
   ---------- ----------------------------- 12.2/44.7 MB 11.1 MB/s eta 0:00:03
   ----------- ---------------------------- 12.7/44.7 MB 10.9 MB/s eta 0:00:03
   ----------- ---------------------------- 13.2/44.7 MB 10.9 MB/s eta 0:00:03
   ------------ --------------------------- 13.8/44.7 MB 11.1 MB/s eta 0:00:03
   ------------ --------------------------- 14.4/44.7 MB 11.3 MB/s eta 0:00:03
   ------------- -------------------------- 15.0/44.7 MB 11.3 MB/s eta 0:00:03
   ------------- -------------------------- 15.5/44.7 MB 11.3 MB/s eta 0:00:03
   -------------- ------------------------- 16.2/44.7 MB 11.3 MB/s eta 0:00:03
   -------------- ------------------------- 16.6/44.7 MB 11.1 MB/s eta 0:00:03
   --------------- ------------------------ 17.3/44.7 MB 11.3 MB/s eta 0:00:03
   --------------- ------------------------ 17.7/44.7 MB 11.3 MB/s eta 0:00:03
   ---------------- ----------------------- 18.4/44.7 MB 11.3 MB/s eta 0:00:03
   ---------------- ----------------------- 18.8/44.7 MB 11.3 MB/s eta 0:00:03
   ----------------- ---------------------- 19.4/44.7 MB 11.3 MB/s eta 0:00:03
   ----------------- ---------------------- 19.8/44.7 MB 11.3 MB/s eta 0:00:03
   ------------------ --------------------- 20.4/44.7 MB 11.3 MB/s eta 0:00:03
   ------------------ --------------------- 21.0/44.7 MB 11.5 MB/s eta 0:00:03
   ------------------- -------------------- 21.4/44.7 MB 11.3 MB/s eta 0:00:03
   ------------------- -------------------- 22.1/44.7 MB 11.7 MB/s eta 0:00:02
   -------------------- ------------------- 22.6/44.7 MB 11.7 MB/s eta 0:00:02
   -------------------- ------------------- 23.2/44.7 MB 11.9 MB/s eta 0:00:02
   --------------------- ------------------ 23.7/44.7 MB 11.7 MB/s eta 0:00:02
   --------------------- ------------------ 24.4/44.7 MB 11.9 MB/s eta 0:00:02
   ---------------------- ----------------- 24.9/44.7 MB 11.7 MB/s eta 0:00:02
   ---------------------- ----------------- 25.6/44.7 MB 12.1 MB/s eta 0:00:02
   ----------------------- ---------------- 26.2/44.7 MB 11.9 MB/s eta 0:00:02
   ----------------------- ---------------- 26.7/44.7 MB 12.1 MB/s eta 0:00:02
   ------------------------ --------------- 27.4/44.7 MB 12.1 MB/s eta 0:00:02
   ------------------------ --------------- 27.8/44.7 MB 11.9 MB/s eta 0:00:02
   ------------------------- -------------- 28.4/44.7 MB 12.1 MB/s eta 0:00:02
   ------------------------- -------------- 29.0/44.7 MB 12.1 MB/s eta 0:00:02
   -------------------------- ------------- 29.6/44.7 MB 12.1 MB/s eta 0:00:02
   -------------------------- ------------- 30.0/44.7 MB 12.1 MB/s eta 0:00:02
   --------------------------- ------------ 30.6/44.7 MB 12.1 MB/s eta 0:00:02
   --------------------------- ------------ 31.2/44.7 MB 12.1 MB/s eta 0:00:02
   ---------------------------- ----------- 31.6/44.7 MB 12.4 MB/s eta 0:00:02
   ---------------------------- ----------- 32.3/44.7 MB 12.1 MB/s eta 0:00:02
   ----------------------------- ---------- 32.8/44.7 MB 12.4 MB/s eta 0:00:01
   ----------------------------- ---------- 33.5/44.7 MB 12.3 MB/s eta 0:00:01
   ------------------------------ --------- 34.1/44.7 MB 12.6 MB/s eta 0:00:01
   ------------------------------- -------- 34.7/44.7 MB 12.6 MB/s eta 0:00:01
   ------------------------------- -------- 35.2/44.7 MB 12.6 MB/s eta 0:00:01
   -------------------------------- ------- 35.9/44.7 MB 12.6 MB/s eta 0:00:01
   -------------------------------- ------- 36.3/44.7 MB 12.4 MB/s eta 0:00:01
   --------------------------------- ------ 37.0/44.7 MB 12.1 MB/s eta 0:00:01
   --------------------------------- ------ 37.6/44.7 MB 12.4 MB/s eta 0:00:01
   --------------------------------- ------ 37.9/44.7 MB 11.9 MB/s eta 0:00:01
   ---------------------------------- ----- 38.5/44.7 MB 12.1 MB/s eta 0:00:01
   ---------------------------------- ----- 39.0/44.7 MB 11.9 MB/s eta 0:00:01
   ----------------------------------- ---- 39.5/44.7 MB 11.7 MB/s eta 0:00:01
   ----------------------------------- ---- 39.9/44.7 MB 11.7 MB/s eta 0:00:01
   ------------------------------------ --- 40.5/44.7 MB 11.9 MB/s eta 0:00:01
   ------------------------------------ --- 41.0/44.7 MB 11.7 MB/s eta 0:00:01
   ------------------------------------- -- 41.6/44.7 MB 11.9 MB/s eta 0:00:01
   ------------------------------------- -- 42.1/44.7 MB 11.7 MB/s eta 0:00:01
   -------------------------------------- - 42.7/44.7 MB 11.9 MB/s eta 0:00:01
   -------------------------------------- - 43.3/44.7 MB 11.9 MB/s eta 0:00:01
   ---------------------------------------  43.9/44.7 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  44.4/44.7 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  44.7/44.7 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  44.7/44.7 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  44.7/44.7 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  44.7/44.7 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------- 44.7/44.7 MB 9.5 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.1 scipy-1.14.0 threadpoolctl-3.5.0

In [163]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=10000,stop_words='english')

In [164]:
vectors = cv.fit_transform(new_data['tags']).toarray()

In [165]:
vectors.shape

(4806, 10000)

In [68]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl.metadata (2.8 kB)
Collecting click (from nltk)
  Downloading click-8.1.7-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: joblib in c:\users\indu\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.4.2)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2024.5.15-cp311-cp311-win_amd64.whl.metadata (41 kB)
     ---------------------------------------- 0.0/42.0 kB ? eta -:--:--
     ---------------------------------------  41.0/42.0 kB 2.0 MB/s eta 0:00:01
     -------------------------------------- 42.0/42.0 kB 689.8 kB/s eta 0:00:00
Collecting tqdm (from nltk)
  Downloading tqdm-4.66.4-py3-none-any.whl.metadata (57 kB)
     ---------------------------------------- 0.0/57.6 kB ? eta -:--:--
     ---------------------------------------- 57.6/57.6 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\indu\appdata\local\programs\python\python311\lib\site-packages (from click->nltk) (0.4.6)
Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ---- ----------------------------------- 0.2/1.5 MB 5.3 MB/s eta 0:00:01
   --------- ------------------------------ 0.4/1.5 MB 4.6 MB/s eta 0:00:01
   ---------------- ----------------------- 0.6/1.5 MB 4.8 MB/s eta 0:00:01
   ---------------------------- ----------- 1.1/1.5 MB 6.2 MB/s eta 0:00:01
   ------------------------------------- -- 1.4/1.5 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 6.0 MB/s eta 0:00:00
Downloading regex-2024.5.15-cp311-cp311-win_amd64.whl (268 kB)
   ---------------------------------------- 0.0/269.0 kB ? eta -:--:--
   --------------------------------------  266.2/269.0 kB 17.1 MB/s eta 0:00:01
   ---------------------------------------- 269.0/269.0 kB 5.5 MB/s eta 0:00:00
Downloading click-8.1.7-py3-none-any.whl (97 kB)
   ---------------------------------------- 0.0/97.9 kB ? eta -:--:--
   ---------------------------------------- 97.9/97.9 kB 5.5 MB/s eta 0:00:00
Downloading tqdm-4.66.4-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.3 kB ? eta -:--:--
   ---------------------------------------- 78.3/78.3 kB 4.5 MB/s eta 0:00:00
Installing collected packages: tqdm, regex, click, nltk
Successfully installed click-8.1.7 nltk-3.8.1 regex-2024.5.15 tqdm-4.66.4

In [166]:
import nltk

In [167]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [168]:
vectors.shape

(4806, 10000)

In [169]:
from sklearn.metrics.pairwise import cosine_similarity

In [170]:
cosine_similarity(vectors).shape

(4806, 4806)

In [175]:
similarity = cosine_similarity(vectors)

In [176]:
similarity[1]

array([0.07644708, 1.        , 0.0579771 , ..., 0.02366905, 0.        ,
       0.        ])

In [177]:
new_data[new_data['title'] == 'The Lego Movie'].index[0]

np.int64(744)

In [178]:
def recommend(movie):
    movie_index = new_data[new_data['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key = lambda x: x[1])[1:11]
    for i in movies_list:
        print(new_data.iloc[i[0]].title)

In [181]:
recommend('Iron Man')

Iron Man 2
Iron Man 3
Avengers: Age of Ultron
Captain America: Civil War
The Avengers
X-Men
Ant-Man
X-Men: The Last Stand
The Helix... Loaded
Guardians of the Galaxy

In [185]:
##new_data.to_dict()

In [182]:
import pickle

In [183]:
pickle.dump(new_data.to_dict(),open('moviedict.pkl','wb'))